{{ define "main" }}
<main class="main list" role="main">
	{{- with . }}
	<header class="main__header">
    <h1 class="main__title">{{ .Type }}: {{ .Title }}</h1>
	</header>
  <!-- display tags for list -->
{{ partial "list_tags.html" . }}
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
  {{ $paginator := .Paginate (where .Pages "Type" "!=" "search") }}
	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}
